main div h1{
padding: 0px 0px 10px 460px;
}

main div.main-body{
  background-color: rgb(238, 239, 240);
  padding: 2px 20px 2px 20px;
  display: block;
  margin-bottom: 40px;
}
main div.main-body-div{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
}